@import "./_footer";
@import "./_login";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
  color: inherit;
  text-decoration: inherit;
}
.gray{
  background: gray;
}
.lightgray{
  background: lightgray;
  list-style: none;

}
.black {
  background: gray;
  list-style: none;
  height: 75px;
}
.margin {
  margin: 0 !important;
  padding: 0 !important;
}

.darker{
  background: darkslategray;
}
.full{
  width: 100vw;
}
.linkStyleDelete{
  color: black;
  text-decoration: none;
  line-height: 4em;
}

.action{
  width: 50%;
  height: 4em;
  text-align: center;
  background: darkslategray;
}
.buttonStyling{
  color: white;
  background: #333333;
  border-radius: 10px;
  border: none;
  margin: 10px;
}